<div class="bg-white pb-5 mb-5 mx-auto rounded-bottom shadow" 
  style="width: fit-content; min-width: 500px">

<h1>Reservas</h1>

<div class="px-3">

<p id="notice"><%= notice %></p>

<%= render 'form', booking: @booking %>

</div>

</div>
