<div class="bg-white pb-5 mb-5 m-auto rounded-bottom shadow" 
  style="width: fit-content; min-width: 500px">

<% if logged_in? %>
  <h1>Reservas</h1>
<% else %>
  <h1>Habitaciones</h1>
<% end%>

<div class="px-3">

<% if !notice.nil? %>
<p id="notice" class="alert alert-warning"><%= notice %></p>
<% end %>

<% if session[:role] == 'client' || !logged_in? %>

<%= render 'form', booking: @booking %>

<% else %>

<%= render 'reception' %>

<% end %>

</div>

</div>
