
<div class="bg-white mx-auto pb-2 rounded-bottom shadow"
   style="max-width: 500px;"
>


  <div class="">
      <h1 class=''>
        <%= @user.name.capitalize %>
      </h1>

    <div class="px-2">
      <p class=''>
        Email: <%= @user.email %>
      </p>
    </div>
  </div>
</div>
