
<div class="bg-white pb-5 mb-5 mx-auto rounded-bottom shadow" style="max-width: 500px">

<h1>Editar Estilo</h1>

<div class="mx-3">

<%= render 'form', style: @style %>

<%= link_to 'Atras', styles_path, class: "btn text-white bg-secondary"  %>

</div>

</div>