<div class="m-auto bg-white pb-5">


<h1>Habitaciones</h1>

<% if !notice.nil? %>
<p id="notice" class="alert alert-warning"><%= notice %></p>
<% end %>

<%=

  if session[:role] == 'admin' || session[:role] == 'reception'

    render 'reception'

  else

    render 'client'

  end

%>


</div>
