<div class="m-auto bg-white pb-5" style="min-width: 516px">


<h1>Habitaciones</h1>

<p id="notice"><%= notice %></p>

<%=

  if session[:role] == 'admin' || session[:role] == 'reception'

    render 'reception'

  else

    render 'client'

  end

%>


</div>
