<div class="bg-white pb-5 mb-5 mx-auto rounded-bottom shadow" style="max-width: 500px">

<h1>Editing Role</h1>

<div class="mx-3">

<%= render 'form', role: @role %>

<%= link_to 'Back', roles_path, class: "btn btn-secondary" %>

</div>

</div>