<div 
  style="
   background: url(<%= asset_url('footer.jpg') %>);
   background-repeat: repeat-x;
   background-size: auto 200px;
   background-blend-mode: lighten;
   background-color: black;
   width: 100%;
   margin-top: auto;
   border-top: 5px solid black;
  ">

<div class="container mt-2">
  <div class="row text-white">

    <div class="col-4 m-2 bg-dark bg-opacity-75">
      <h3>Informacion general</h3>
	<p>Aqui deberia poner algo sobre la empresa o algo asi.
	Suelen poner cosas sobre derechos de autor normalmente.
	</p>
    </div>

    <div class="col-4 m-2 bg-dark bg-opacity-75">
        <p>A veces tarda en cargar el footer porque la imagen 
		del fondo tiene mucha resolucion.
	</p>
    </div>

    <div class="col-3 m-2 bg-dark bg-opacity-75">
	<p>
		<i class="bi bi-facebook"></i> Facebook
	</p>
	<p>
		<i class="bi bi-twitter"></i> Twitter
	</p>
	<p>
		<i class="bi bi-instagram"></i> Instagram
	</p>
	<p>
		<i class="bi bi-linkedin"></i> Linkedin
	</p>
	<p>
		<i class="bi bi-envelope-paper"></i> Hotel@gmail.com
	</p>
	<p>
		<i class="bi bi-telephone-fill"></i> +34 66 714 22 58
	</p>
    </div>


  </div>
</div>

</div>
